<h1>+ New Card Set</h1>

<div class="ui form">
  <div class="field">
    <label>Enter a name for your new card set:</label>
    {{input value=model.title}}
  </div>
  <div class="ui submit button" {{action "createCardset" model}}  >Submit</div>
</div>


{{outlet}}
