<h1>+ New Card Set</h1>

<div class="ui form">
  <div class="field">
    <label>Enter a name for your new card set:</label>
    {{#validatable-form action='createCardset' model=model}}
    {{input value=model.title required='required'}}
    <input class="ui submit button" type="submit">
    {{/validatable-form}}
  </div>
</div>


{{outlet}}
