<h1>New Card:</h1>

<div class="ui form">
  {{#validatable-form action='createCard' model=model}}
  <div class="field">
    <label>Enter a question:</label>
    {{input value=model.question required='required'}}
  </div>
  <div class="field">
    <label>Enter a question:</label>
    {{input value=model.answer required='required'}}
  </div>
  <input class="ui submit button" type="submit">
  {{/validatable-form}}
</div>



{{outlet}}
