<div class="ui inverted black vertical segment">
  <div class="ui large inverted header menu">
<br>
    <div class="ui page grid">
      {{#link-to "application"}}
      <a class="item">
        <div class="column">
          <h1 class="ui inverted header" id="jumbo">Flashcardatron</h1>
        </div>

        {{/link-to}}
        {{#link-to "cardsets.index"}}
        <a class="item">
          <div class="column">
            <h3 class="ui inverted header"> Card Set Library</h3>
          </div>
        </a>
        {{/link-to}}
      </div>
    </div>

  </div>

  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">

      {{outlet}}
    </div>

    <div class="four wide column">
    </div>
  </div>
