<div class="ui large inverted menu">

  {{#link-to "application"}}

    <h1>
      <i class="home icon"></i>
    Flashcardatron
    </h1>

  {{/link-to}}

</div>

<div class="ui grid">
  <div class="four wide column"></div>

  <div class="eight wide column">
    {{#link-to "cardsets.index"}}View Card Sets{{/link-to}}
    {{outlet}}
  </div>

  <div class="four wide column">
    <h1>CARD SET LIBRARY</h1>
    <div class="ui large vertical menu">

      <a class="active item">
        <div class="ui teal label">1</div>
        Card Set
      </a>

    </div>
  </div>
</div>
